<% foundReports.forEach(report=> { %>

    <form action="/reports/<%= report.id %>/?_method=PUT" method="POST">
            
        <div class="report-container mb-3 w-75">
            <label for="report" class="form-label">Trip Report:</label>
            <textarea type="text" name="report" id="report" class="form-control" rows="4"><%= report.report %></textarea>
            <input type="submit" class="btn btn-primary">        
        </div>
    
    </form>

<% }) %> 