<div class="home-container">
    <h3>Welcome to Touring Reports</h3>
    <p>Your one-stop-shop for backcountry ski forecasting and trip reports <br> Create an account to get involved, log your trip reports, and create a weather forecasting list of your favorite touring zones!</p>
</div>

<div id="home-page-carousel" class="carousel slide mt-4" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://assets.rmiguides.com/_includes/_images/baker_ski_full.jpg" class="d-block w-100 rounded" alt="Mount Baker Volcano Skiing">
      </div>
      <div class="carousel-item">
        <img src="https://dam-assets.vailresorts.com/is/image/vailresorts/about%20sp%20ft1?resMode=sharp2&wid=392&fit=constrain,1&dpr=on,2.625" class="d-block w-100 rounded" alt="Stevens Pass Powder Skiing">
      </div>
      <div class="carousel-item">
        <img src="https://vtsports.com/wp-content/uploads/2019/04/7N3A0260-copy-800x445.jpg" class="d-block w-100 rounded" alt="Tuckerman's Ravine">
      </div>
    </div>
</div>