
<div class="card">
  <div class="card-body">
    <!-- <h3 class="card-title text-center">Touring Reports</h3> -->
    <h3 class="card-text text-center">Backcountry ski forecasting and trip reports from the Cascades</h3>
    <p class="card-text text-center">Create an account to get involved, log your trip reports, and create a weather forecasting list of your favorite touring zones</p>
  </div>
  <img src="https://i.imgur.com/WD5rYEW.jpg" class="card-img-bottom" alt="Snoqualmie Pass powder skier">
</div>
<p class="text-end text-muted">Photo by Joe Weber</p>