<div>
    <h3>Welcome to Touring Reports</h3>
    <p>Choose an area from the list of winter backcountry touring hotspots in Washington below to read trip reports and find weather for the area. Create an account to get involved and log your own trip reports!</p>
</div>

<% allAreas.forEach(area => { %>
    <li>
        <%= area.name %> <br>
        <a href="/reports/<%= area.id %>">Trip Reports</a> <br>
        <a href="/areas/<%= area.id %>/current">Current Weather</a>
        <!-- remove the forecast link before finished -->
        <a href="/areas/<%= area.id %>/forecast">Forecast</a>
    </li>
<% }) %>