<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    <title>Project 2 Auth</title>
</head>
<body>
    <nav>
        <ul>
            <% if(user) { %>
                <li>Logged in as: <%= user.username %> </li>
                <li><a href="/">Home</a></li>
                <li><a href="/users/profile/<%= user.id %>">Profile</a></li>
                <li><a href="/users/logout">Log Out</a></li>
            <% }  else {%>
                <li><a href="/users/new">Create Account</a></li>
                <li><a href="/users/login">Log In</a></li>
                <li><a href="/">Home</a></li>
            <% } %>
        </ul>
    </nav>

    <h1>Touring Reports</h1>
    
    <%- body %> 
</body>
</html>