body {
    padding-bottom: 100px;
}

.carousel {
    margin: 0 auto;
    width:600px;
    /* height:36px; */
  }

.carousel-inner > .carousel-item > img {
/* width:80%; */
height:400px;
}

.home-container {
    text-align: center;
}

.report-container {
    margin: 10px 25px;
}

.form-control {
    margin-bottom: 10px
}

.table-container {
    margin: 10px 25px;
}