body {
    padding-bottom: 100px;
}

.carousel {
    margin: 0 auto;
    width:600px;
    /* height:36px; */
  }

.carousel-inner > .carousel-item > img {
/* width:80%; */
height:400px;
}

.home-container {
    text-align: center;
}

.report-container {
    margin: 10px 25px;
}

.form-control {
    margin-bottom: 10px
}

.conditions-table {
    margin: auto;
}

.table-container {
    margin: 10px 25px;
}

/* remove up/down arrows from number inputs */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}