<h1>Create a New Account</h1>

<form action="/users" method="POST">
    <label for="email">Email:</label>
    <input type="email" name="email" id="email"/>

    <label for="password">Password:</label>
    <input type="password" name="password" id="password"/>

    <label for="username">Username:</label>
    <input type="username" name="username" id="username"/>

    <button type="submit">Sign Up!</button>
</form>

<div class="d-flex justify-content-center mt-5">
    <form action="/users/login" method="POST">
        <div class="mb-3 row">
          <label for="email" class="form-label">Email address</label>
          <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp">
        </div>
        <div class="mb-3 row">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" name="password" id="password">
        </div>
        <button type="submit" class="btn btn-primary">Log In</button>
    </form>
  </div>