<h2>This is the home page of user: <%= user.username %> </h2>

Trip Reports:

<% reports.forEach(element => { %>
    <ul>    
        <li>
            Location: <%=element.area.name %> <br>
            Report: <%= element.report %>
            <!-- Add date here -->
        </li>
    </ul>
<% }) %>